@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
.paragraph {
  font-size: 1.6rem;
  line-height: 2;
}

.paragraphGray {
  font-size: 1.6rem;
  line-height: 2;
  color: white;
}

.link {
  font-size: 1.6rem;
  line-height: 2;
  text-decoration: none;
  color: #262626;
}

.headingOne {
  font-family: 'Staatliches', cursive;
  font-size: 41px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
}

.headingTwo {
  font-family: 'Staatliches', cursive;
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
}

.headingTwoGray {
  font-family: 'Staatliches', cursive;
  font-size: 41px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
  margin-bottom: 20px;
  color: #cfcfcf;
}

.input {
  border: none;
  border-bottom: 1px solid #646464;
  padding: 5px 0px;
}

@media screen and (min-width: 768px) {
  .headingOne {
    font-size: 75px;
    letter-spacing: 3px;
  }
  .headingTwo {
    font-family: 'Staatliches', cursive;
    font-size: 35px;
    margin-bottom: 50px;
  }
  .headingTwoGray {
    font-size: 50px;
    letter-spacing: 3px;
  }
}

@media screen and (min-width: 998px) {
  .paragraph {
    font-size: 1.9rem;
    line-height: 1.5;
  }
  .link {
    font-size: 1.8rem;
  }
  .headingOne {
    font-size: 92.5px;
    letter-spacing: 3px;
  }
  .headingTwoGray {
    font-size: 60px;
    letter-spacing: 3px;
  }
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden;
}

body {
  position: relative;
  background-image: url("../image/2.png");
}

.wrapper {
  width: 100vw;
  overflow-x: hidden;
  margin: 0 auto;
  color: #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigationBar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
  margin-top: 30px;
}

.navigationBar__button {
  position: relative;
  padding: 1em;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigationBar__spanOne {
  width: 30px;
  height: 2px;
  background: #262626;
}

.navigationBar__spanTwo {
  width: 30px;
  height: 2px;
  background: #262626;
  margin-top: 5px;
}

.navigationBar__logo {
  font-size: 1.6rem;
  font-weight: 500;
  z-index: 1000;
}

.navigationMobile {
  z-index: 0;
  position: absolute;
  background-color: #262626;
  height: 100vh;
  width: 100%;
  top: -20%;
  z-index: 10000;
}

.navigationMobile__menu {
  padding: 120px 0 0 20px;
  text-align: left;
}

.navigationMobile__list {
  list-style: none;
}

.navigationMobile__link {
  font-family: 'Staatliches', cursive;
  font-size: 41px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1;
  color: #cfcfcf;
  position: absolute;
  top: 20%;
  text-decoration: none;
}

.navigationMobile__link--2 {
  position: absolute;
  top: 30%;
}

.navigationMobile__link--3 {
  position: absolute;
  top: 40%;
}

.navigation {
  display: none;
}

.header {
  width: 100%;
  padding: 0px 20px;
  margin-top: 40px;
}

.header__textSection {
  padding-top: 50px;
}

.header__paragraph {
  padding-bottom: 50px;
}

.imageSlider {
  width: 100vw;
  height: 200px;
  margin-top: 50px;
}

.imageSlider__image {
  position: absolute;
  width: 100%;
  height: 200px;
  opacity: 1;
  -webkit-animation: imageOne 5s linear alternate infinite;
          animation: imageOne 5s linear alternate infinite;
}

.imageSlider__image2 {
  opacity: 0;
  -webkit-animation: imageTwo 5s linear alternate infinite;
          animation: imageTwo 5s linear alternate infinite;
}

.imageSlider__map {
  width: 100%;
  height: 200px;
}

.question {
  display: -ms-grid;
  display: grid;
  padding: 0px 20px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 50px;
  margin-top: 50px;
}

.contact {
  display: -ms-grid;
  display: grid;
  padding: 0px 20px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 50px;
  margin: 50px 0px;
}

.form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding-bottom: 10px;
  grid-gap: 20px;
}

.form__labelBox {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.form__input {
  border: none;
  border-bottom: 1px solid #cfcfcf;
  padding: 5px 0px;
  width: 100%;
  font-size: 1.6rem;
  font-family: 'Josefin Sans', sans-serif;
  background: transparent;
}

.form__input:focus {
  outline: none;
  border-bottom: 1px solid #262626;
}

.form__input::-webkit-input-placeholder {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.form__input:-ms-input-placeholder {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.form__input::-ms-input-placeholder {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.form__input::placeholder {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.form__textArea {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3/1/4/3;
  border: none;
  border-bottom: 1px solid #cfcfcf;
  padding: 5px 0px;
  width: 100%;
  font-size: 1.6rem;
  font-family: 'Josefin Sans', sans-serif;
  min-height: 100px;
  max-width: 100%;
  min-width: 100%;
  background: transparent;
}

.form__textArea:focus {
  outline: none;
  border-bottom: 1px solid #262626;
}

.form__textArea::-webkit-input-placeholder {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.form__textArea:-ms-input-placeholder {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.form__textArea::-ms-input-placeholder {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.form__textArea::placeholder {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.form__button {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: 4/2/4/2;
  text-align: right;
  border: none;
  background: none;
  font-family: 'Staatliches', cursive;
  font-size: 25px;
  color: #262626;
  cursor: pointer;
}

.form__label {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.partners {
  width: 100vw;
  padding: 0px 20px 80px;
  text-align: center;
  margin-top: 50px;
}

.partners__logoSection {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__image {
  width: 80%;
}

.darkSection {
  width: 100vw;
  background-color: #262626;
  padding: 80px 20px 0px;
}

.darkArticle {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  border-bottom: 1px solid #646464;
}

.darkArticle__textBox {
  margin-bottom: 80px;
}

.darkArticle__unorderList {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  list-style: none;
  color: #646464;
  margin-top: 50px;
}

.footer {
  width: 100vw;
  padding: 80px 20px 0px;
  background-color: #262626;
}

.footer__article {
  border-bottom: 1px solid #646464;
  padding-bottom: 80px;
}

.footer__icon {
  padding-right: 20px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.footer__infoBox {
  text-align: center;
}

.footer__infoBox:nth-of-type(2) {
  margin-top: 20px;
}

.footer__infoBox:nth-last-child(1) {
  display: none;
}

.footer__paragraph {
  font-size: 1.6rem;
  line-height: 2;
  color: #646464;
}

.footer__input {
  display: none;
  width: 73%;
  font-size: 1.6rem;
  font-family: 'Josefin Sans', sans-serif;
  background: #262626;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid white;
  color: white;
  padding: 5px 0px;
}

.footer__input::-webkit-input-placeholder {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6rem;
  text-align: center;
  color: #646464;
}

.footer__input:-ms-input-placeholder {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6rem;
  text-align: center;
  color: #646464;
}

.footer__input::-ms-input-placeholder {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6rem;
  text-align: center;
  color: #646464;
}

.footer__input::placeholder {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6rem;
  text-align: center;
  color: #646464;
}

.lastSection {
  background-color: #262626;
  text-align: center;
  padding: 20px;
}

.startOverlay {
  position: absolute;
  width: 100vw;
  height: 3000px;
  background-color: #262626;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.startOverlay__paragraph {
  font-family: 'Staatliches', cursive;
  font-size: 41px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
  margin-top: 30vh;
  color: #cfcfcf;
}

.startOverlay__pacman {
  height: 20%;
}

.cursor {
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.15);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference;
  -webkit-transition: 0.5;
  transition: 0.5;
}

@media screen and (min-width: 768px) {
  .navigationMobile {
    display: none;
  }
  .navigation {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navigationBar__button {
    display: none;
  }
  .navigationBar__logo {
    font-size: 2rem;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 400px;
    padding: 0px 20px;
    margin-top: 80px;
  }
  .header__headingSection {
    width: 60%;
    height: 100%;
  }
  .header__textSection {
    width: 40%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .header__paragraph {
    padding-bottom: 50px;
  }
  .imageSlider {
    height: 450px;
    margin-top: 80px;
  }
  .imageSlider__image {
    width: calc(100% - 20px);
    height: 450px;
    margin: 0 20px 0;
  }
  .imageSlider__map {
    width: calc(100% - 20px);
    height: 450px;
  }
  .question {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    margin-top: 100px;
  }
  .contact {
    -ms-grid-columns: 1fr 2.5fr;
        grid-template-columns: 1fr 2.5fr;
    margin: 100px 0px 80px;
  }
  .partners {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 100px;
  }
  .partners__sectionParagraph {
    width: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
  }
  .partners__paragraph {
    text-align: center;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .partners__logoSection {
    width: 90%;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .partners__image {
    width: 50%;
  }
  .darkArticle {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .darkArticle__textBox {
    margin-bottom: 80px;
  }
  .footer {
    width: 100vw;
    padding: 80px 20px 0px;
    background-color: #262626;
  }
  .footer__article {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 5fr 1fr;
        grid-template-columns: 1fr 5fr 1fr;
  }
  .footer__icon {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    padding-right: 20px;
  }
  .footer__infoBox {
    text-align: center;
  }
  .footer__infoBox:nth-of-type(1) {
    text-align: left;
  }
  .footer__infoBox:nth-of-type(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0px;
  }
  .footer__infoBox:nth-last-child(1) {
    display: block;
    text-align: right;
  }
  .footer__input {
    display: block;
  }
  .startOverlay__paragraph {
    font-size: 75px;
  }
}

@media screen and (min-width: 998px) {
  .navigationBar {
    max-width: 1250px;
    margin: 30px auto;
  }
  .navigationBar__logo {
    font-size: 2.2rem;
  }
  .header {
    max-width: 1250px;
    margin: 80px auto 0px;
  }
  .header__headingSection {
    width: 65%;
    height: 100%;
  }
  .header__textSection {
    width: 35%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .imageSlider {
    width: 100%;
    height: 600px;
    margin-top: 80px;
    margin-left: calc((100vw - 1250px)/2);
    max-width: calc(1250px + (100vw - 1250px)/2);
  }
  .imageSlider__image {
    width: 100%;
    height: 600px;
  }
  .imageSlider__map {
    width: 100%;
    height: 600px;
  }
  .question {
    max-width: 1250px;
    margin: 100px auto;
  }
  .contact {
    width: 1250px;
    margin: 100px auto 80px;
    -ms-grid-columns: 1fr 2.5fr;
        grid-template-columns: 1fr 2.5fr;
  }
  .partners {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1250px;
    margin: 80px auto 80px;
  }
  .partners__logoSection {
    width: 90%;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
  .partners__sectionParagraph {
    width: 10%;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 20px;
  }
  .partners__paragraph {
    text-align: center;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .darkArticle {
    max-width: 1250px;
    margin: 0 auto;
  }
  .footer__article {
    max-width: 1250px;
    margin: 0 auto;
  }
  .footer__input {
    width: 41%;
  }
  .startOverlay__paragraph {
    font-size: 91px;
  }
}

@-webkit-keyframes showMobileMenu {
  0% {
    height: 0vh;
  }
  100% {
    height: 100vh;
  }
}

@keyframes showMobileMenu {
  0% {
    height: 0vh;
  }
  100% {
    height: 100vh;
  }
}

@-webkit-keyframes closeMobileMenu {
  0% {
    height: 100vh;
  }
  100% {
    height: 0vh;
  }
}

@keyframes closeMobileMenu {
  0% {
    height: 100vh;
  }
  100% {
    height: 0vh;
  }
}

@-webkit-keyframes colorNavigationLogo {
  0% {
    color: #262626;
  }
  60% {
    color: #262626;
  }
  100% {
    color: white;
  }
}

@keyframes colorNavigationLogo {
  0% {
    color: #262626;
  }
  60% {
    color: #262626;
  }
  100% {
    color: white;
  }
}

@-webkit-keyframes colorButtonBars {
  0% {
    background: #262626;
  }
  60% {
    background: #262626;
  }
  100% {
    background: white;
  }
}

@keyframes colorButtonBars {
  0% {
    background: #262626;
  }
  60% {
    background: #262626;
  }
  100% {
    background: white;
  }
}

@-webkit-keyframes imageOne {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes imageOne {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes imageTwo {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes imageTwo {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */