@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
.paragraph {
  font-size: 1.6rem;
  line-height: 2;
}

.paragraphGray {
  font-size: 1.6rem;
  line-height: 2;
  color: white;
}

.link {
  font-size: 1.6rem;
  line-height: 2;
  text-decoration: none;
  color: #262626;
}

.headingOne {
  font-family: 'Staatliches', cursive;
  font-size: 41px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
}

.headingTwo {
  font-family: 'Staatliches', cursive;
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
}

.headingTwoGray {
  font-family: 'Staatliches', cursive;
  font-size: 41px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
  margin-bottom: 20px;
  color: #cfcfcf;
}

@media screen and (min-width: 768px) {
  .headingOne {
    font-size: 75px;
    letter-spacing: 3px;
  }
  .headingTwo {
    font-family: 'Staatliches', cursive;
    font-size: 35px;
    margin-bottom: 50px;
  }
  .headingTwoGray {
    font-size: 50px;
    letter-spacing: 3px;
  }
}

@media screen and (min-width: 998px) {
  .paragraph {
    font-size: 1.9rem;
    line-height: 1.5;
  }
  .link {
    font-size: 1.8rem;
  }
  .headingOne {
    font-size: 92.5px;
    letter-spacing: 3px;
  }
  .headingTwoGray {
    font-size: 60px;
    letter-spacing: 3px;
  }
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden;
}

.wrapper {
  width: 100vw;
  overflow-x: hidden;
  margin: 0 auto;
  color: #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigation {
  display: none;
}

.navigationMobile {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 0vh;
  z-index: 100;
  background-color: #262626;
  padding: 0px 20px;
}

.navigationMobileLinks {
  margin-top: 45%;
}

.navigationMobileLinks__link {
  font-size: 38px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  letter-spacing: 3px;
  padding-bottom: 30px;
}

.navigationMobileSocialMedia {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50%;
}

.navigationMobileSocialMedia__icon {
  padding: 0px 20px;
}

.navigationBar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
  margin-top: 30px;
}

.navigationBar__logo {
  font-size: 1.6rem;
  font-weight: 500;
  z-index: 1000;
}

.navigationBar__button {
  position: relative;
  width: 25px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.navigationBar__buttonMidLine {
  width: 100%;
  height: 3px;
  background: #262626;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navigationBar__buttonTopLine {
  width: 25px;
  height: 3px;
  background: #262626;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.navigationBar__buttonBotLine {
  width: 25px;
  height: 3px;
  background: #262626;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.navigationBar__button.active .navigationBar__buttonMidLine {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  opacity: 0;
}

.navigationBar__button.active .navigationBar__buttonTopLine {
  -webkit-transform: translateY(3px) rotate(45deg);
          transform: translateY(3px) rotate(45deg);
}

.navigationBar__button.active .navigationBar__buttonBotLine {
  -webkit-transform: translateY(-3px) rotate(-45deg);
          transform: translateY(-3px) rotate(-45deg);
}

.navigationMobileAnimation {
  -webkit-animation: showMobileMenu ease-out 1s forwards;
          animation: showMobileMenu ease-out 1s forwards;
}

.navigationLogoAnimation {
  -webkit-animation: colorNavigationLogo ease-out 1s forwards;
          animation: colorNavigationLogo ease-out 1s forwards;
}

.navigationButtonAnimation {
  -webkit-animation: colorButtonBars ease-out 1s forwards;
          animation: colorButtonBars ease-out 1s forwards;
}

.navigationMobileAnimationReverse {
  -webkit-animation: closeMobileMenu ease-in 1s forwards;
          animation: closeMobileMenu ease-in 1s forwards;
}

.navigationLogoAnimationReverse {
  animation: colorNavigationLogo ease-in 1s forwards reverse;
}

.navigationButtonAnimationReverse {
  animation: colorButtonBars ease-in 1s forwards reverse;
}

.navigationLinksAnimation {
  aniamtion: linksOpacity ease-in 1s forwards;
}

.header {
  width: 100%;
  padding: 0px 20px;
  margin-top: 40px;
}

.header__textSection {
  padding-top: 50px;
}

.header__paragraph {
  padding-bottom: 50px;
}

.imageSlider {
  width: 100vw;
  height: 200px;
  margin-top: 50px;
}

.imageSlider__image {
  position: absolute;
  width: 100%;
  height: 200px;
  opacity: 1;
  -webkit-animation: imageOne 5s linear alternate infinite;
          animation: imageOne 5s linear alternate infinite;
}

.imageSlider__image2 {
  opacity: 0;
  -webkit-animation: imageTwo 5s linear alternate infinite;
          animation: imageTwo 5s linear alternate infinite;
}

.question {
  display: -ms-grid;
  display: grid;
  padding: 0px 20px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 50px;
  margin-top: 50px;
}

.partners {
  width: 100vw;
  padding: 0px 20px 80px;
  text-align: center;
  margin-top: 50px;
}

.partners__logoSection {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__image {
  width: 80%;
}

.darkSection {
  width: 100vw;
  background-color: #262626;
  padding: 80px 20px 0px;
}

.darkArticle {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  border-bottom: 1px solid #646464;
}

.darkArticle__textBox {
  margin-bottom: 80px;
}

.darkArticle__unorderList {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  list-style: none;
  color: #646464;
  margin-top: 50px;
}

.footer {
  width: 100vw;
  padding: 80px 20px 20px;
  background-color: #262626;
}

.footer__icon {
  padding-right: 20px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.footer__infoBox {
  text-align: center;
}

.footer__infoBox:nth-of-type(2) {
  margin-top: 20px;
}

.footer__infoBox:nth-last-child(1) {
  display: none;
}

.footer__paragraph {
  font-size: 1.6rem;
  line-height: 2;
  color: #646464;
}

.footer__input {
  display: none;
  width: 73%;
  font-size: 1.6rem;
  font-family: 'Josefin Sans', sans-serif;
  background: #262626;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid white;
  color: white;
  padding: 5px 0px;
}

.footer__input::-webkit-input-placeholder {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6rem;
  text-align: center;
  color: #646464;
}

.footer__input:-ms-input-placeholder {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6rem;
  text-align: center;
  color: #646464;
}

.footer__input::-ms-input-placeholder {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6rem;
  text-align: center;
  color: #646464;
}

.footer__input::placeholder {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6rem;
  text-align: center;
  color: #646464;
}

@media screen and (min-width: 768px) {
  .navigation {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navigationBar__button {
    display: none;
  }
  .navigationBar__logo {
    font-size: 2rem;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 400px;
    padding: 0px 20px;
    margin-top: 80px;
  }
  .header__headingSection {
    width: 60%;
    height: 100%;
  }
  .header__textSection {
    width: 40%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .header__paragraph {
    padding-bottom: 50px;
  }
  .imageSlider {
    height: 450px;
    margin-top: 80px;
  }
  .imageSlider__image {
    width: calc(100% - 20px);
    height: 450px;
    margin: 0 20px 0;
  }
  .question {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    margin-top: 100px;
  }
  .partners {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 100px;
  }
  .partners__sectionParagraph {
    width: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
  }
  .partners__paragraph {
    text-align: center;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .partners__logoSection {
    width: 90%;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .partners__image {
    width: 50%;
  }
  .darkArticle {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .darkArticle__textBox {
    margin-bottom: 80px;
  }
  .footer {
    width: 100vw;
    padding: 80px 20px 20px;
    background-color: #262626;
  }
  .footer__article {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 5fr 1fr;
        grid-template-columns: 1fr 5fr 1fr;
  }
  .footer__icon {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    padding-right: 20px;
  }
  .footer__infoBox {
    text-align: center;
  }
  .footer__infoBox:nth-of-type(1) {
    text-align: left;
  }
  .footer__infoBox:nth-of-type(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0px;
  }
  .footer__infoBox:nth-last-child(1) {
    display: block;
    text-align: right;
  }
  .footer__input {
    display: block;
  }
}

@media screen and (min-width: 998px) {
  .navigationBar {
    max-width: 1250px;
    margin: 30px auto;
  }
  .navigationBar__logo {
    font-size: 2.2rem;
  }
  .header {
    max-width: 1250px;
    margin: 80px auto 0px;
  }
  .header__headingSection {
    width: 65%;
    height: 100%;
  }
  .header__textSection {
    width: 35%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .imageSlider {
    width: 100%;
    height: 600px;
    margin-top: 80px;
    margin-left: calc((100vw - 1250px)/2);
    max-width: calc(1250px + (100vw - 1250px)/2);
  }
  .imageSlider__image {
    width: 100%;
    height: 600px;
  }
  .question {
    max-width: 1250px;
    margin: 100px auto;
  }
  .partners {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1250px;
    margin: 80px auto 80px;
  }
  .partners__logoSection {
    width: 90%;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
  .partners__sectionParagraph {
    width: 10%;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 20px;
  }
  .partners__paragraph {
    text-align: center;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .darkArticle {
    max-width: 1250px;
    margin: 0 auto;
  }
  .footer__article {
    max-width: 1250px;
    margin: 0 auto;
  }
  .footer__input {
    width: 41%;
  }
}

@-webkit-keyframes showMobileMenu {
  0% {
    height: 0vh;
  }
  100% {
    height: 100vh;
  }
}

@keyframes showMobileMenu {
  0% {
    height: 0vh;
  }
  100% {
    height: 100vh;
  }
}

@-webkit-keyframes closeMobileMenu {
  0% {
    height: 100vh;
  }
  100% {
    height: 0vh;
  }
}

@keyframes closeMobileMenu {
  0% {
    height: 100vh;
  }
  100% {
    height: 0vh;
  }
}

@-webkit-keyframes colorNavigationLogo {
  0% {
    color: #262626;
  }
  60% {
    color: #262626;
  }
  100% {
    color: white;
  }
}

@keyframes colorNavigationLogo {
  0% {
    color: #262626;
  }
  60% {
    color: #262626;
  }
  100% {
    color: white;
  }
}

@-webkit-keyframes colorButtonBars {
  0% {
    background: #262626;
  }
  60% {
    background: #262626;
  }
  100% {
    background: white;
  }
}

@keyframes colorButtonBars {
  0% {
    background: #262626;
  }
  60% {
    background: #262626;
  }
  100% {
    background: white;
  }
}

@-webkit-keyframes imageOne {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes imageOne {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes imageTwo {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes imageTwo {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */